<!DOCTYPE html>
<html>
<head>
	<title>Srilekhya's portfolio</title>
</head>

<body>
	<h1>Srilekhya's Portfolio</h1>
	{% load static %}
	<a href = "{% static 'portfolio/resume.pdf' %}">Resume</a><br>
	<img src = "{% static 'portfolio/image2.png' %}" height= 200px object-fit: cover>

	{% for project in projects %}

	<h2>{{ project.title }} </h2>

	<p> {{ project.description}} </p>

	<img src = "{{ project.image.url }}" height= 200px width = 400px><br>

	{% if project.url %}
	<a href = "{{ project.url }}"> Link </a>

	{% endif %}

	{% endfor %}
</body>

</html>

